<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Assets/Bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../Assets/css/cssAutores.css">
    <title>Autores</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="../../Libros/View/LibrosView.html">BIBLIOTECA</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="AutoresView.html">Autores</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../../Usuarios/View/UsuariosView.html">Usuarios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../../Libros/View/LibrosView.html">Libros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../../Prestamos/View/PrestamosView.html">Prestamos</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>

    <div class="container mt-5">
        <h2 style="text-align: center;">Insertar Autores</h2>
        <form method="post" class="container">
            <div class="row">
                <!-- Primera columna -->
                <div class="col-md-6 mt-5">
                    <!-- Campo Nombre -->
                    <div class="row mb-3 align-items-center">
                        <label for="nombre" class="col-sm-4 col-form-label">Nombre:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="nombre" name="nombre" required>
                            <small id="nombreError" class="error"></small>
                        </div>
                    </div>

                    <!-- Campo Apellido Paterno -->
                    <div class="row mb-3 align-items-center">
                        <label for="ap_paterno" class="col-sm-4 col-form-label">Apellido Paterno:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ap_paterno" name="ap_paterno" required>
                            <small id="ap_paternoError" class="error"></small>
                        </div>
                    </div>

                    <!-- Campo Apellido Materno -->
                    <div class="row mb-3 align-items-center">
                        <label for="ap_materno" class="col-sm-4 col-form-label">Apellido Materno:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ap_materno" name="ap_materno" required>
                            <small id="ap_maternoError" class="error"></small>
                        </div>
                    </div>
                </div>
        
                <!-- Segunda columna -->
                <div class="col-md-6 mt-5">
                    <!-- Campo Coodigo de Autor -->
                    <div class="row mb-3 align-items-center">
                        <label for="codigo_autor" class="col-sm-4 col-form-label">Codigo de Autor:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="codigo_autor" name="codigo_autor" placeholder="A00"required>
                            <small id="codigo_autorError" class="error"></small>
                        </div>
                    </div>

                    <!-- Campo Nacionalidad -->
                    <div class="row mb-3 align-items-center">
                        <label for="nacionalidad" class="col-sm-4 col-form-label">Nacionalidad:</label>
                        <div class="col-sm-8">
                            <select class="form-select" id="nacionalidad" name="nacionalidad" required>
                                <option selected value="">Elige la nacionalidad</option>
                                <option value="Mexicana">Mexicana</option>
                                <option value="Argentina">Argentina</option>
                                <option value="Colombiana">Colombiana</option>
                                <option value="Peruana">Peruana</option>
                                <option value="Chilena">Chilena</option>
                                <option value="Brasileña">Brasileña</option>
                                <option value="Venezolana">Venezolana</option>
                                <option value="Uruguaya">Uruguaya</option>
                                <option value="Paraguaya">Paraguaya</option>
                                <option value="Ecuatoriana">Ecuatoriana</option>
                                <option value="Boliviana">Boliviana</option>
                                <option value="Cubana">Cubana</option>
                                <option value="Costarricense">Costarricense</option>
                                <option value="Panameña">Panameña</option>
                                <option value="Salvadoreña">Salvadoreña</option>
                                <option value="Hondureña">Hondureña</option>
                                <option value="Guatemalteca">Guatemalteca</option>
                                <option value="Nicaragüense">Nicaragüense</option>
                                <option value="Española">Española</option>
                                <option value="Estadounidense">Estadounidense</option>
                                <option value="Canadiense">Canadiense</option>
                            </select>
                            <small id="nacionalidadError" class="error text-danger"></small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center mt-5">
                <button type="submit" class="btn btn-success" id="guardar" disabled>Insertar</button>
            </div>
        </form>

        <!--APARTADO DE BUSQUEDA-->
        <div class="row mb-3 align-items-center mt-5">
            <label for="buscador" class="col-sm-12 col-form-label">Buscador:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="buscador" name="buscador" placeholder="Buscar">
                <small id="buscadorError" class="error"></small>
            </div>
        </div>

        <table class="table bg-light mt-5">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido Paterno</th>
                <th scope="col">Apellido Materno</th>
                <th scope="col">Nacionalidad</th>
                <th scope="col">Codigo</th>
                <th colspan="2">Acciones</th>
              </tr>
            </thead>
            <tbody id="mostrar">
                <tr>
                </tr>
            </tbody>
        </table>
    </div>


    <!--APARTADO DELL MODAL PARA PODER ACTULIZAR LOS DATOS-->
    <div class="modal fade" id="modalActualizar" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Editar Autor</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="formActualizar">
                        <!-- Campo Nombre -->
                        <div class="mb-3">
                            <label for="nombreActualizar" class="form-label">Nombre:</label>
                            <input type="text" class="form-control" id="nombreActualizar" required>
                            <small id="nombreActualizarError" class="error"></small>
                        </div>
    
                        <!-- Campo Apellido Paterno -->
                        <div class="mb-3">
                            <label for="apPaternoActualizar" class="form-label">Apellido Paterno:</label>
                            <input type="text" class="form-control" id="apPaternoActualizar" required>
                            <small id="apPaternoActualizarError" class="error"></small>
                        </div>
    
                        <!-- Campo Apellido Materno -->
                        <div class="mb-3">
                            <label for="apMaternoActualizar" class="form-label">Apellido Materno:</label>
                            <input type="text" class="form-control" id="apMaternoActualizar" required>
                            <small id="apMaternoActualizarError" class="error"></small>
                        </div>
    
                        <!-- Campo Coodigo de Autor -->
                        <div class="mb-3">
                            <label for="codigoActualizar" class="form-label">Código de Autor:</label>
                            <input type="text" class="form-control" id="codigoActualizar" required>
                            <small id="codigoActualizarError" class="error"></small>
                        </div>
    
                        <!-- Campo Nacionalidad -->
                        <div class="mb-3">
                            <label for="nacionalidadActualizar" class="form-label">Nacionalidad:</label>
                            <select class="form-select" id="nacionalidadActualizar" required>
                                <option selected value="" disabled>Elige la nacionalidad</option>
                                <option value="Mexicana">Mexicana</option>
                                <option value="Argentina">Argentina</option>
                                <option value="Colombiana">Colombiana</option>
                                <option value="Peruana">Peruana</option>
                                <option value="Chilena">Chilena</option>
                                <option value="Brasileña">Brasileña</option>
                                <option value="Venezolana">Venezolana</option>
                                <option value="Uruguaya">Uruguaya</option>
                                <option value="Paraguaya">Paraguaya</option>
                                <option value="Ecuatoriana">Ecuatoriana</option>
                                <option value="Boliviana">Boliviana</option>
                                <option value="Cubana">Cubana</option>
                                <option value="Costarricense">Costarricense</option>
                                <option value="Panameña">Panameña</option>
                                <option value="Salvadoreña">Salvadoreña</option>
                                <option value="Hondureña">Hondureña</option>
                                <option value="Guatemalteca">Guatemalteca</option>
                                <option value="Nicaragüense">Nicaragüense</option>
                                <option value="Española">Española</option>
                                <option value="Estadounidense">Estadounidense</option>
                                <option value="Canadiense">Canadiense</option>
                            </select>
                            <small id="nacionalidadActualizarError" class="error"></small>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" id="guardarActualizar">Actualizar</button>
                </div>
            </div>
        </div>
    </div>
    
      
    

    <script src="../../Assets/JQuery/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../../Assets/Bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../Js/Autores.js"></script>
    <script src="../Js/AutoresActualizar.js"></script>
</body>
</html>