<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Assets/Bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../Assets/css/cssAutores.css">
    <title>Libros</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="LibrosView.html">BIBLIOTECA</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="LibrosView.html">Libros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../../Autores/View/AutoresView.html">Autores</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../../Usuarios/View/UsuariosView.html">Usuarios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../../Prestamos/View/PrestamosView.html">Prestamos</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>


    <div class="container mt-5">
        <h2 style="text-align: center;">Libros</h2>
        <!-- Centered Button -->
        <div class="d-flex justify-content-center mb-4">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#guardarModal">
                Agregar Libros
            </button>
        </div>
  
        <!-- Modal GUARDAR-->
        <div class="modal fade" id="guardarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Libros</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" class="container">
                            <div class="row">
                                    <!-- Campo titulo -->
                                    <div class="row mb-3 align-items-center">
                                        <label for="titulo" class="col-sm-4 col-form-label">Titulo Libro:</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="titulo" name="titulo" required>
                                            <small id="tituloError" class="error"></small>
                                        </div>
                                    </div>
                
                                    <!-- Campo ISBN -->
                                    <div class="row mb-3 align-items-center">
                                        <label for="codigoLibro" class="col-sm-4 col-form-label">ISBN:</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="codigoLibro" name="codigoLibro">
                                            <small id="codigoLibroError" class="error"></small>
                                        </div>
                                    </div>
                
                                    <!-- Campo CATEGORIA-->
                                    <div class="row mb-3 align-items-center">
                                        <label for="categorias" class="col-sm-4 col-form-label">Categoria:</label>
                                        <div class="col-sm-8">
                                            <select class="form-select" id="categorias" name="categorias" required>
                                                <option selected value="">Selecciona la categoria</option>
                                                <option value="Novela">Novela</option>
                                                <option value="Cuento">Cuento</option>
                                                <option value="Ciencia Ficcion">Ciencia Ficcion</option>
                                                <option value="Fantasia">Fantasia</option>
                                                <option value="Misterio">Misterio</option>
                                                <option value="Romance">Romance</option>
                                                <option value="Thriller">Thriller</option>
                                                <option value="Terror">Terror</option>
                                            </select>
                                            <small id="categoriasError" class="error text-danger"></small>
                                        </div>
                                    </div>

                                    <!-- Campo AUTORES-->
                                    <div class="row mb-3 align-items-center">
                                        <label for="mostrarAutores" class="col-sm-4 col-form-label">Autor:</label>
                                        <div class="col-sm-8">
                                            <select class="form-select" id="mostrarAutores" name="mostrarAutores" required>
                                                <option selected value="">Selecciona el autor</option>
                                            </select>
                                            <small id="mostrarAutoresError" class="error text-danger"></small>
                                        </div>
                                    </div>

                                    <div class="row mb-3 align-items-center">
                                        <label for="librosEjemplares" class="col-sm-4 col-form-label">Cantidad ejemplares:</label>
                                        <div class="col-sm-8">
                                            <input type="number" class="form-control" id="librosEjemplares" name="librosEjemplares">
                                            <small id="librosEjemplaresError" class="error"></small>
                                        </div>
                                    </div>
                                </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary"  id="guardar" >Agregar</button>
                    </div>
                </div>
            </div>
        </div>

        <!--APARTADO DE BUSQUEDA-->
        <!-- Centered Search Bar -->
        <div class="row mb-3 align-items-center justify-content-center">
            <label for="buscador" class="col-sm-2 col-form-label text-center">Buscador:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="buscador" name="buscador" placeholder="Buscar">
                <small id="buscadorError" class="error"></small>
            </div>
        </div>
                
        <table class="table mt-5">
            <thead>
              <tr>
                <th scope="col">Titulo</th>
                <th scope="col">ISBN</th>
                <th scope="col">Categoria</th>
                <th scope="col">Autor</th>
                <th scope="col">No. Ejemplares</th>
                <th colspan="2">Acciones</th>
              </tr>
            </thead>
            <tbody id="MostrarLibros">
                <tr>
                </tr>
            </tbody>
        </table>

        <!-- Modal ACTUALIZAR-->
        <div class="modal fade" id="modalActualizar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Libros</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="formActualizar" method="post" class="container">
                            <div class="row">
                                    <!-- Campo titulo -->
                                    <div class="row mb-3 align-items-center">
                                        <label for="tituloActualizar" class="col-sm-4 col-form-label">Libro:</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="tituloActualizar" name="tituloActualizar" required>
                                            <small id="tituloActualizarError" class="error"></small>
                                        </div>
                                    </div>
                
                                    <!-- Campo ISBN -->
                                    <div class="row mb-3 align-items-center">
                                        <label for="codigoLibroActualizar" class="col-sm-4 col-form-label">ISBN:</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="codigoLibroActualizar" name="codigoLibroActualizar">
                                            <small id="codigoLibroActualizarError" class="error"></small>
                                        </div>
                                    </div>
                
                                    <!-- Campo CATEGORIA-->
                                    <div class="row mb-3 align-items-center">
                                        <label for="categoriasActualizar" class="col-sm-4 col-form-label">Categoria:</label>
                                        <div class="col-sm-8">
                                            <select class="form-select" id="categoriasActualizar" name="categoriasActualizar" required>
                                                <option selected value="" disabled>Selecciona la categoria</option>
                                                <option value="Novela">Novela</option>
                                                <option value="Cuento">Cuento</option>
                                                <option value="Ciencia Ficcion">Ciencia Ficcion</option>
                                                <option value="Fantasia">Fantasia</option>
                                                <option value="Misterio">Misterio</option>
                                                <option value="Romance">Romance</option>
                                                <option value="Thriller">Thriller</option>
                                                <option value="Terror">Terror</option>
                                            </select>
                                            <small id="categoriasActualizarError" class="error text-danger"></small>
                                        </div>
                                    </div>

                                    <!-- Campo AUTORES-->
                                    <div class="row mb-3 align-items-center">
                                        <label for="mostrarAutoresActualizar" class="col-sm-4 col-form-label">Autor:</label>
                                        <div class="col-sm-8">
                                            <select class="form-select" id="mostrarAutoresActualizar" name="mostrarAutoresActualizar" required>
                                                <option selected value="" disabled>Selecciona el autor</option>
                                            </select>
                                            <small id="mostrarAutoresActualizarError" class="error text-danger"></small>
                                        </div>
                                    </div>

                                    <div class="row mb-3 align-items-center">
                                        <label for="mostrarejemplares" class="col-sm-4 col-form-label">Libro:</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="mostrarejemplares" name="mostrarejemplares" required>
                                            <small id="mostrarejemplaresError" class="error"></small>
                                        </div>
                                    </div>
                                </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-success"  id="guardarActualizar">Actualizar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <script src="../../Assets/JQuery/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../../Assets/Bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../js/Libros.js"></script>
    <script src="../js/LibrosActualizar.js"></script>
</body>
</html>